<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find move_base)/yaml/move_base_params.yaml" command="load"/>
        <rosparam file="$(find move_base)/yaml/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find move_base)/yaml/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find move_base)/yaml/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find move_base)/yaml/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find move_base)/yaml/dwa_local_planner.yaml" command="load"/>
        <!-- <rosparam file="$(find move_base)/yaml/base_local_planner_params.yaml" command="load"/> -->

        <rosparam file="$(find move_base)/yaml/navfn_global_planner_params.yaml" command="load"/>
    </node>


</launch>
